@tailwind base;
@tailwind components;
@tailwind utilities;

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
}

.owl-prev span,
.owl-next span {
  color: red;
  font-size: 50px;
}
